@model List<TravelTripProject.Models.Classes.Blog>

<div class="padding1">
    <h4>En Beğenilen Yerler</h4>

    <div class="box-left">
        @foreach (var item in Model)
        {
            <div class="bot-img">
                <img src="@item.BlogImage" alt="" />
            </div>
            <div class="bot-desc">
                <p>@item.Aciklama.Substring(0, 70)...</p>
            </div>
            <div class="clear"></div>
        }
    </div>
    @Html.Action("TopPlacesRight", "Home")
</div>
